.knight {
  font-size: 100px;
}

.Square {
  width: 12.5%;
  height: 12.5%;
  height: 110px;
}

.Board {
  display: flex;
  flex-wrap: wrap;
}

.black {
  background-color: black;
  color: white;
}

.hover {
  background-color: yellow;
}
